@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Poppins&family=Roboto&display=swap");

/* root styling */

:root {
  --light: #f8f9fa;
  --secondary: #9fa3a1;
  --dark: #343a40;
  --primary-color: #f15bb5;
  --secondary-color: #2ec4b6;
  --border: #e9ecef;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

* > * {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* global styling */
.text-light {
  color: var(--light);
}
.text-secondary {
  color: var(--secondary);
}
.text-dark {
  color: var(--dark);
}
.text-primary {
  color: var(--primary-color);
}
.bg-light {
  background-color: var(--light);
}
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: auto;
}
.img-fluid {
  width: 100%;
}
.text-title {
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
}
.secondary-title {
  font-family: "Poppins", sans-serif;
}
.display-1 {
  font-size: 22px;
}
.display-2 {
  font-size: 16px;
}
.display-3 {
  font-size: 14px;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.btn {
  padding: 15px 20px;
  border: none;
}
.btn-primary {
  border-radius: 4px;
  background-color: var(--secondary-color);
}
.object-fit {
  max-height: 120px;
  height: 80px;
  width: 80px;
  object-fit: fill;
}
.d-flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.mt-2 {
  margin-top: 10px;
}
.mt-3 {
  margin-top: 50px;
}
.mb-3 {
  margin-bottom: 30px;
}
.px-1 {
  padding-left: 5px;
  padding-right: 5px;
}
.px-2 {
  padding-left: 20px;
  padding-right: 20px;
}
.py-1 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.py-2 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.py-3 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.thumbnail {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.rounded {
  height: 120px;
  width: 120px;
  object-fit: fill;
  border-radius: 99px;
}

/* section styling */

/* ------------- Navigation menu styling ----------------- */
.navbar {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}
.nav-brand {
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  align-self: center;
  font-size: 32px;
}
.collapse {
  align-self: center;
}
.nav-link {
  font-size: 18px;
  margin: 12px;
  color: var(--dark);
  font-family: "Poppins", sans-serif;
}
.nav-link:hover {
  color: var(--primary-color);
}
.search-box {
  display: inline;
  border-right: 1px solid var(--secondary);
  padding-right: 12px;
  margin-right: 10px;
}
.toggle-button {
  font-size: 21px;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 0;
  margin: 8px 10px;
  display: none;
}
.toggle-button:focus {
  outline: none;
}
/* ------------- ./Navigation menu  ----------------- */

/* Main Section */

#site-main {
  margin-top: 8em;
}

#posts {
  margin-bottom: 5em;
}

.grid {
  margin: 0 auto;
}

.grid .grid-item {
  width: calc(33.3333% - 20px);
  margin-bottom: 3em;
}

/* ./Main Section */

/* footer */

#footer {
  padding-top: 4em;
}

#footer .feature-post .flex-item {
  margin-bottom: 10px;
}

#footer .tags a {
  border-radius: 40px;
  padding: 10px 20px;
  font-size: 15px;
}

#footer .copyrights {
  padding: 10px 0;
  border-top: 2px solid var(--light);
}

/* .footer */

/*-------------------- article page --------------------------*/
#post {
  padding: 2em;
  margin-bottom: 4em;
}
.post-footer .post-author {
  position: relative;
  margin-top: 4em;
  background-color: var(--light);
}
.post-footer .post-author::after {
  background-color: white;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 4em;
  z-index: 0;
}
.post-footer .post-author .author-avatar {
  margin: 0 auto;
  margin-bottom: 1em;
  position: inherit;
  z-index: 1;
}

/*-------------------- ./article page --------------------------*/

/*------------------- Media Query -----------------------------*/

.row {
  display: flex;
}

.col-3 {
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
  padding-right: 35px;
}

@media (max-width: 1024px) {
  .row {
    flex-wrap: wrap;
  }

  .col-3 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 992px) {
  .navbar {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .grid .grid-item {
    width: calc(50% - 20px);
  }

  .col-3 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 547px) {
  .toggle-button {
    display: initial;
  }

  .collapse {
    max-height: 0;
    overflow: hidden;
    transition: all 0.8s cubic-bezier(0.51, -0.15, 0.21, 0.99);
  }

  .collapse .nav-link {
    display: block;
    text-align: center;
  }

  .search-box {
    border: none;
  }
  .collapse-toggle {
    max-height: 500px;
  }
  .grid .grid-item {
    width: calc(100% - 20px);
  }
}
